/* -----------------------------------
Variables
-------------------------------------- */

:root {
    --color-bg: #F5F5F5;
    --color-highlight: #494745;
    --color-default: #797673;
    --color-dim: #797673;
    --color-vdim: #494745;
    --font-sans: HelveticaNowText, -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    --font-size: 18px;
    --font-s: 14px;
    --font-size-serif: 18px;
    --spacing: 1.5em;
    --spacing-s: calc(0.5 * var(--spacing));
    --spacing-m: var(--spacing);
    --spacing-l: calc(1.5 * var(--spacing));
    --spacing-xl: calc(2.5 * var(--spacing));
    --spacing-xxl: calc(5 * var(--spacing));
    --spacing-col: calc(6 * var(--spacing));
    --spacing-width-max: 38rem;
    --spacing-width-tiny: 15rem;
    --spacing-width-xl: 50rem;
}


/* -----------------------------------
Fonts
-------------------------------------- */

@font-face {
  font-family: 'HelveticaNowText';
  src: url('HelveticaNowText-Regular') format('ttf');
}

/* -----------------------------------
Base
-------------------------------------- */


html {
    font-size: var(--font-std);
    font-family: var(--font-sans);
    line-height: 1.5;
    background-color: var(--color-bg);
    color: var(--color-default);
    font-family: var(--font-sans);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "onum" 1, "liga" 1;
    font-size: var(--font-size);
    line-height: 1.5;
    padding: 1.5rem;
}

body {
    margin: 3.1vw 0;
}

section {
    margin-bottom: var(--spacing-xl);
}

/* -----------------------------------
Header
-------------------------------------- */

body>header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--spacing-xxl);
    color: var(--color-dim);
}

body>header h1 {
    margin: 0;
}

/* -----------------------------------
Footer
-------------------------------------- */

body>footer {
    font-size: var(--font-s);
    line-height: var(--spacing-xl);
    justify-content: center;
}

body>footer nav, body>footer {
    display: flex;
    gap: var(--spacing-m);
}

/* -----------------------------------
Typography
-------------------------------------- */

h1, h2, h3 {
    font-weight: 500;
    font-size: 1rem;
    margin: var(--spacing-s) 0;
    color: var(--color-highlight);
}

h2 {
    margin: var(--spacing-m) 0;
}

h3 {
    margin: 0;
}

a {
    color: var(--color-default);
    text-decoration-color: var(--color-dim);
    text-decoration-thickness: 0.8px;
    text-underline-offset: 0.05em;
}

a:hover {
    transition: color 0.2s ease-in;
    color: var(--color-highlight);
}

h3 a {
    color: var(--color-highlight);
}

p {
    font-family: var(--font-sans);
    font-weight: normal;
    margin: 1em 0;
    font-size: var(--font-size-serif);
    font-feature-settings: 'onum' 1;
}

/* -----------------------------------
Home
-------------------------------------- */

.split {
    margin-bottom: var(--spacing-l);
}

@media (min-width: 600px) {
    .split {
        display: grid;
        grid-template-columns: clamp(8em, 20vw, var(--spacing-col)) 1fr;
        align-items: baseline;
        margin-bottom: var(--spacing-s);
    }
    .split time { margin: 0; }
}

small + p {
    margin-top: var(--spacing-s);
}



body>header,
h1, h2, h3,
p, ol, ul,
.split
{
    max-width: var(--spacing-width-max);
    margin-left: auto;
    margin-right: auto;
}

.limit {
    max-width: var(--spacing-width-tiny);
    margin-left: auto;
    margin-right: auto;
}

